<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi3h1PVdZZWfJouc_Fwz_YfX4StfM4gus</string>
	<key>GCM_SENDER_ID</key>
	<string>779393698703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lipsyncvoiceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lip-sync-voice</string>
	<key>STORAGE_BUCKET</key>
	<string>lip-sync-voice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779393698703:ios:9ffaeaf8b4e329cda6d9fa</string>
</dict>
</plist>